[Unit]
Description=Announce that the guest finished running it's tests
DefaultDependencies=no
After=snpguest-tests.target
Wants=snpguest-tests.target

[Service]
Type=oneshot
ExecStart=/bin/echo "Guest Tests Completed"
StandardOutput=kmsg
StandardError=kmsg

[Install]
WantedBy=multi-user.target