[Unit]
Description=Stop Barrier
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/sleep 3600
RemainAfterExit=yes
TimeoutStartSec=infinity

[Install]
WantedBy=stop.target
