[Unit]
Description=Run SNP Regular Attestation after boot
DefaultDependencies=no
After=snpguest-ok.service
Wants=snpguest-ok.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/snpguest_attestation.sh
StandardOutput=kmsg
StandardError=kmsg
LogExtraFields="SEV_VERSION=3.0-0" "SNPGUEST_TEST=3.0-0"

[Install]
WantedBy=snpguest-tests.target