[Unit]
Description=Run snguest ok to verify SNP enablement on guest
DefaultDependencies=no
After=boot-succesful.service
Wants=boot-succesful.service

[Service]
Type=oneshot
ExecStart=snpguest ok
StandardOutput=kmsg
StandardError=kmsg
LogExtraFields="SEV_VERSION=3.0-0" "SNPGUEST_TEST=3.0-0"

[Install]
WantedBy=snpguest-tests.target
