[Unit]
Description=Barrier that triggers the launch services
DefaultDependencies=no

Requires=calculate-measurement.service generate-id-block.service launch-guest.service verify-guest.service
After=calculate-measurement.service generate-id-block.service launch-guest.service verify-guest.service

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=launch.target
