[Unit]
Description=Run snphost ok to  make sure host is correctly set-up for SNP functionalities.
DefaultDependencies=no
After=beacon-boot.service
Wants=beacon-boot.service

[Service]
Type=oneshot
ExecStart=snphost ok
StandardOutput=kmsg
StandardError=kmsg
ExecStartPost=/usr/bin/touch /run/snphost-ok.ok
LogExtraFields="SEV_VERSION=3.0-0" "SNPHOST_TEST=3.0-0"

[Install]
WantedBy=multi-user.target