[Unit]
Description=Run Beacon report to publish certificate
DefaultDependencies=no
After=beacon-boot.service avahi-daemon.service sev-certificate-generator.service
Requires=beacon-boot.service avahi-daemon.service sev-certificate-generator.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/beacon-report.sh
StandardOutput=kmsg
StandardError=kmsg

[Install]
WantedBy=multi-user.target
