[Unit]
Description=Run beacon boot in host
DefaultDependencies=no
After=network-online.target avahi-daemon.service
Requires=network-online.target avahi-daemon.service

[Service]
Type=oneshot
ExecStart=beacon boot
StandardOutput=kmsg
StandardError=kmsg

[Install]
WantedBy=multi-user.target
