[Unit]
Description=Wait window for SSH access to host before launching guest
DefaultDependencies=no
After=sshd.service
Wants=sshd.service
Before=launch-guest.service

[Service]
Type=oneshot
ExecStart=/bin/sleep ${SSH_HOST_TIMEOUTrt}
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
