[Unit]
Description=Show SNP Guest Environment Information for SEV Version 3.0-0 Report
DefaultDependencies=no
After=network-online.service systemd-hostnamed.service
Wants=network-online.service systemd-hostnamed.service
Requires=systemd-hostnamed.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/lib/scripts/sev_v_3_0_0/guest_environment.sh
StandardOutput=kmsg
StandardError=kmsg
LogExtraFields="GUEST_ENVIRONMENT=3.0-0"

[Install]
WantedBy=multi-user.target
