[Unit]
Description=Prompt user to login or reboot after tests
After=beacon-report.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/login-or-reboot.sh
StandardOutput=kmsg
StandardError=kmsg

[Install]
WantedBy=multi-user.target
