[Unit]
Description=Run SNP Key Derivation Tests after boot
DefaultDependencies=no
After=system.target
Wants=system.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/lib/scripts/snpguest_key_derivation.py
StandardOutput=journal+console
StandardError=journal+console
LogExtraFields="SEV_VERSION=3.0.0-0" "SNPGUEST_TEST=3.0.0-0"
