[Unit]
Description=Show the SEV certifcate
DefaultDependencies=no
After=network-online.service display-guest-logs.service
Wants=network-online.service display-guest-logs.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/lib/scripts/generate_sev_certificate/sev_certificate/generate_sev_certificate.py
StandardOutput=kmsg
StandardError=kmsg
LogExtraFields="SEV_REPORT=TRUE"

[Install]
WantedBy=multi-user.target
