[Unit]
Description=Patch guest measurement into id-block.b64
DefaultDependencies=no
After=calculate-measurement.service
Wants=calculate-measurement.service
Before=launch-guest.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/generate_id_block.py
StandardOutput=journal+console
StandardError=journal+console
LogExtraFields="SEV_VERSION=3.0.0-0" "SNPHOST_TEST=3.0.0-0"
